footer
  div.foot_top
  div.foot_vmedi
    div.foot_left
      div.foot_img
        div.foot_medi
      div.sub_left
        ul
          li
            span
              a(href="javascript:",titile="") 百度
          li
            span
              a(href="javascript:",titile="") 百度
          li
            span
              a(href="javascript:",titile="") 百度
          li
            span
              a(href="javascript:",titile="") 百度
      div.sub_left
        ul
          li
            span
              a(href="javascript:",titile="") 百度
          li
            span
              a(href="javascript:",titile="") 百度
          li
            span
              a(href="javascript:",titile="") 百度
          li
            span
              a(href="javascript:",titile="") 百度
      div.sub_left
        ul
          li
            span
              a(href="javascript:",titile="") 百度
          li
            span
              a(href="javascript:",titile="") 百度
          li
            span
              a(href="javascript:",titile="") 百度
          li
            span
              a(href="javascript:",titile="") 百度
    div.foot_fig
  div.foot_bot