footer
  div.foot_top
    span FOOTBALL BABIES
  div.foot_vmedi
    div.foot_left
      div.foot_img
    div.foot_medi
      div.sub_left
        ul
          li
            span
              a(href="javascript:",title="go to FRENDLY LINKS") FRENDLY LINKS
          li
            span
              a(href="javascript:",title="go to BAIDU") BAIDU
          li
            span
              a(href="javascript:",title="go to ALIYUN") ALIYUN
          li
            span
              a(href="javascript:",title="go to JINGDONG") JINGDONG
      div.sub_medi
        ul
          li
            span
              a(href="javascript:",title="go to COOPERATIONS") COOPERATIONS
          li
            span
              a(href="javascript:",title="go to ICBC") ICBC
          li
            span
              a(href="javascript:",title="go to CCTV") CCTV
          li
            span
              a(href="javascript:",title="go to PING AN BANK") PING AN BANK
      div.sub_rig
        ul
          li
            span
              a(href="javascript:",title="go to SUPPORT") SUPPORT
          li
            span
              a(href="javascript:",title="go to CHINESE UNIN") CHINESE UNIN
          li
            span
              a(href="javascript:",title="go to TIANMAO") TIANMAO
          li
            span
              a(href="javascript:",title="go toANLIBABA") ANLIBABA
    div.foot_rig
  div.foot_bot
    span CORYRIGHT@TOOBO 2015-2016