header
  div.head_top
    div.head_top_left
      div.logo
        img(alt="",src="LOGO.png")
      span FOOTBALL BABIES
    div.head_top_medi
    div.head_top_rig
  div.head_bot
    nav.head_nav
        span
          a(href="index.html",title="index") index
        span
          a(href="about.html",title="index") about
        span
          a(href="games.html",title="index") games
        span
          a(href="photos.html",title="index") photos
        span
          a(href="contact.html",title="index") contact