doctype html
html
  head
    include meta
    title BabiesHome
    link(rel="stylesheet/text" type="text/css" href="styles/complete.css")

  body
  include header
  //index body start
  // =================

  // =================
  //index body end
  include footer
  script(type="javascript/txt",src="scripts/main.js")