@mixin set-size($width:100%,$height:100%){
	display:block;
	width:$width;
	height:$height;
}

header{
	@include set-size(100%,170px);
	text-align:center;
	.head_top{
		@include set-size(1000px,120px);
		margin:auto;
		.head_top_left,.head_top_medi,.head_top_rig{
			float:left;
		}
		.head_top_left{
			@include set-size(400px,120px);
			*{float:left;}
			.logo{
				@include set-size(150px);
				img{
					@include set-size(150px,80px);
					margin-top:30px;
				}
			}
			span{
				@include set-size(250px,20px);
				font-size:20px;
				font-weight:bold;
				margin-top:75px;
			}
		}
		.head_top_medi{
			@include set-size(500px,120px);
		}
		.head_top_rig{
			@include set-size(100px,120px);
		}
	}
	.head_bot{
		@include set-size(100%,50px);
		text-align:center;
		nav{
		@include set-size(1000px,50px);
		margin:auto;
		text-align:left;
			span{
				@include set-size(100px,50px);
				display:inline-block;	
			}
		}
	}
}

footer{
	@include set-size(100%,250px);
	.foot_top,.foot_vmedi,.foot_bot{
		margin:auto;
	}

	.foot_top{
		 @include set-size(1000px,105px);
	}
	.foot_vmedi{
		@include set-size(1000px,120px);
		.foot_left,.foot_medi,.foot_rig{
			float:left;
		}
		.foot_left{
			@include set-size(250px);
			text-align:center;
			.foot_img{
				@include set-size(100px,100px);
				margin:auto;
			}
		}
		.foot_medi{
			@include set-size(650px);
			.sub_left,.sub_medi,.sub_rig{
				float:left;
				@include set-size(215px);
			}
			ul{
				margin:0rem 0rem 0rem 2rem;
				li{

				}
			}
			.sub_left{


			}
			.sub_medi{

			}
			.sub_rig{

			}

		}
		.foot_rig{
			@include set-size(100px);

		}
	}
	.foot_bot{
		@include set-size(1000px,25px);
		text-align:center;
	}
}

.index_content{
	@include set-size(1000px,1000px);
	margin:auto;
}

//index start===========
.index_content{
	.wecome_pic_holder{
		@include set-size(100%,450px);
		.pic_holder{
			@include set-size(100%,400px);
			overflow:hidden;
			ul{
				li{

				}
			}
		}
		.pic_text{
			@include set-size(100%,50px);
 			span{

 			}
		}
	}

	.intro_text_holder{
		@include set-size(100%,400px);
		margin-top:30px;
		text-algin:center;
		.sub_header{
			@include set-size(100%,100px);
			span{

			}
		}
		.sub_left,.sub_rig{
			float:left;
		}
		.sub_content{
			@include set-size(960px,350px);
			.sub_left{
				@include set-size(40%);
			}
			.sub_rig{
				@include set-size(60%);
				ul{
					li{
						&:first-child{
							margin-top:0px;
						}
						margin:0.5rem;
						span{

						}
					}
				}
			}
		}	

	}		

}


//index end=============